.menu {
    margin-bottom: 2.5rem;
    animation-name: fade;
}

@keyframes fade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
 
.title {
    color: rgb(153, 154, 165);
    text-transform: uppercase;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 600;
    padding-left: var(--padding);
}

.menu-ul {}

.menu-item {
    padding: 0 2rem;

    border-right-width: 4px;

    border-right-color: transparent;

    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;

}

.menu-item>a {
    display: flex;
    align-items: center;
    margin-top: 1.1rem;
    cursor: pointer;
}

.menu-item>a>span {
    color: rgb(102, 103, 110);
    margin-left: 0.75rem;

    font-size: 1.0rem;
    line-height: 0.75rem;

    
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.menu-item>a>span:hover {
    color: white;
}

.menu-item>a>svg {
    fill: rgb(102, 103, 110);
    font-size: 1.38rem;
}

.menu-item>a>span,
.menu-item>a>svg {
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
}