{
    "trailingComma": "es5",
    "tabWidth": 2,
    "useTabs": true,
    "singleQuote": true,
    "importOrder": [
        "^@/components/(.*)$",
        "^@/screens/(.*)$",
        "^@/ui/(.*)$",
        "^@/hooks/(.*)$",
        "^@/shared/(.*)$",
        "^@/services/(.*)$",
        "^@/assets/(.*)$",
        "^@/utils/(.*)$",
        "^@/config/(.*)$",
        "^@/store/(.*)$"
    ],
    "importOrderSeparation": true,
    "importOrderSortSpecifiers": true
}