.catalog-movie {
    margin-top: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.movies {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px 40px;
    margin-top: 20px;
}