.select-container {
    position: relative;
    margin-bottom: 20px;
    animation: fade .5s ease-in-out;
    width: 100%;
}



@keyframes fade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.label {
    display: block;
}

.span {
    display: block;
    font-size: 12px;
    text-transform: uppercase;
    color: gray;
    margin-bottom: 5px;
}