.layout {
    position: relative;
    min-height: 100vh;
}

.nav,
.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    overflow-y: auto;
    width: var(--bar-width);
    max-width: 350px;
}

.nav {
    left: 0;
    border-right: 1px solid rgba(153, 154, 165, 0.1);
}

.sidebar {
    right: 0;
    border-left: 1px solid rgba(153, 154, 165, 0.1);;
}
.content {
    padding: 2.75rem;
    margin: 0 var(--bar-width);
}